
body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family:Arial, sans-serif;
}

p {
   font-size: 25px;
   font-family:Arial, sans-serif;
}

img{
  width:100%;
}


p{
  text-align:center;
}

div img{
    width:80%;
    height: 150px;
    display:block;
    margin:auto;
    border: 3px solid rgb(24, 0, 95);
    border-radius: 13px;

}

div{
  
  display: flex;
  flex-direction: column; /* Stacks items vertically */
  text-align: center;
  gap: 5px;
  width: 95%;
  margin: 5px;
  padding: 2px;
  border: 3px solid rgb(146, 146, 146);
}

.extend{

  background-color: beige;
  border: 0px solid rgba(255, 255, 255, 0);

}

@media only screen and (min-width:772px){

    .extend{
        display: grid;
        grid-template-columns: auto auto;
        flex-direction: column;
        width: 90%;
        margin: 5px;
        padding: 2px;
        background-color: beige;
        border: 0px solid rgba(255, 255, 255, 0);
    }

    div{

        display: flex;
        flex-direction: column; /* Stacks items vertically */
        text-align: center;
        gap: 5px;
        width: 45%;
        margin: 5px;
        padding: 2px;
        border: 3px solid rgb(146, 146, 146);
    }


    div img{
        
        max-height: 30%;
        display:block;
        margin:auto;
        border: 3px solid rgb(24, 0, 95);
        border-radius: 13px;

    }

}

@media only screen and (min-width:998px){

    .extend{
        display: grid;
        grid-template-columns: auto auto auto;
        width: 90%;
        margin: 5px;
        padding: 2px;
        background-color: beige;
        border: 0px solid rgba(255, 255, 255, 0);
    
    }

    div{

        display: flex;
        flex-direction: column; /* Stacks items vertically */
        text-align: center;
        gap: 5px;
        width: 30%;
        margin: 5px;
        padding: 2px;
        border: 3px solid rgb(146, 146, 146);
    }

    div img{
        max-height: 30%;
        display:block;
        margin:auto;
        border: 3px solid rgb(24, 0, 95);
        border-radius: 13px;
    }

}


























/* 
main {
    border: 5px #000 solid;
    margin: 10px;
}
 */
/* 

.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
 */
/* img{
    width: 200px;
    height: 200px;
    padding: 5px;
} */

/* .child {
    position: relative;
    display: inline-block;
    border: 5px black solid;
    margin: 5px;
    border-radius: 5px;
} */

/* 

.label {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
} */
/* 
.button {
    display: inline-block;
    border: 2px solid #000;
    padding: 5px;
    border-radius: 25px;
}
 */
/* 
.button:hover {
    background-color:#fff;
} */

/* 
footer {
    display: flex;
    justify-content: center;
} */

/* 
header {
    border-radius: 5px;
    border: 5px #000 solid;
    margin: 10px;
} */

/* 
.label {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
} */
/* 
.child:hover .label {
    display: block;
} */